
/* Template*/
ul#navigation{
    float:left;
    list-style-type: none;
    padding: 0;
    margin-right:5px;
    margin-top: 0px;
    background-color:#D9DCD6;
    text-align: center;
    padding-bottom:50%;
    border-color:#725E54;
    border-style: inset;
    padding-bottom:50%;

}
li{
    padding-right:20px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
}

li:hover{
    background-color: #B8BDB2;
}

a{
    font-size: 1em;
    text-decoration:none;
    font-size: large;

}

a:visited{
    color:black;
}

img#logo{
    width: 100px;
    padding:20px;
    border-bottom: 5px;
    border-style: inset;
    border-color:#725E54;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#D9DCD6;
    max-width: 900px;
    padding:auto;
}

h1{
    border-style: inset;
    border-color:#725E54;
    padding-left:0px;
    margin-left:0px;
    text-align:center;
}
/* Index */
img#splash{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position:-100px;
    float:left;
    margin:10px;
    margin-top:0px;
    border-radius:5px;
}

/*   About Section*/
img#profile{
    height:200px;
    border-radius: 10px;
    vertical-align: text-top;
}
tr#about{
    margin: 15px;
}
td#about{
    vertical-align: top;
    height: 200px;
    font-size:large;
}

div#name{
    font-size: x-large;
    font-weight: bold;
}

div#major{
    font-size: large;
    color:rgb(66, 66, 66);
}

p#desc{
    border-top-color:#a3a6a0;
    border-top-style:solid;
    padding-top:10px;
}

/*Color Cordinate*/
table#desc{
    text-align: center;
    padding:10px;
}
tr#desc{
    padding:15px;
    text-align: center;
}
th#desc{
    padding-top:15px;
}

